.banner {
  background: url("/images/about_us_2_xxl.jpg");
  background: url("/images/about_us_2_xxl.jpg"),
    linear-gradient(to right, #653200, #666666);
  height: 100vh;
  background-blend-mode: overlay;
  overflow: hidden;

  background-position: 50% top;
  background-repeat: no-repeat;
  padding: 3rem;
}

.banner-slide2 {
  background: url("https://www.artsfon.com/pic/201605/1920x1080/artsfon.com-84504.jpg");
  background: url("https://www.artsfon.com/pic/201605/1920x1080/artsfon.com-84504.jpg"),
    linear-gradient(to left, #653200, #666666);
  height: 100vh;
  background-blend-mode: overlay;
  overflow: hidden;

  background-position: 50% top;
  background-repeat: no-repeat;
  padding: 3rem;
}
