body,
html,
#root {
  height: 100%;
  width: 100%;
  margin: 0;
  /*font-family: "Raleway", sans-serif;*/
  font-family: 'Metrophobic', sans-serif;
}

body {
  padding: 0;
  font-family: sans-serif;
}

ul {
  list-style-type: none;
  display: flex;
  justify-content: center;
}
li {
  margin-top: 2em;
  padding-left: 1em;
}
a {
  text-decoration: none;
  color: white;
}
li:hover {
  text-decoration: underline;
  cursor: pointer;
}
.Toastify__toast {
  min-height: unset !important;
  box-shadow: 1px 3px 20px rgba(0, 0, 0, 0.5) !important;
  border-radius: 5px !important;
}

.upgrade_link {
  color: #d63434;
  text-decoration: underline;
}
