header {
  display: none;
}

.header__top {
  display: none;
}

.dashboard-menu {
  position: fixed;
  width: 100%;
  z-index: 2;
  top: 0;
}

.dashboard-menu__left {
  background-color: #212531;
  height: 4em;
}

.dashboard-menu__left > p {
  color: white;
  font-size: 1.2em;
  display: flex;
  justify-content: center;
  padding-top: 14px;
  cursor: pointer;
}

.dashboard-menu__right {
  display: flex;
  flex-direction: row;
  background-color: #24243e;
  height: 4em;
  color: white;
  padding-top: 15px;
}

.menu-icon {
  margin-top: -1em;
  margin-left: -1em;
}

.profile-right {
  display: flex;
  margin-left: auto;
}

.profile-right__icon {
  margin-left: 1.5em;
  margin-top: 4px;
}

.fa-bars {
  margin-left: 0.5em;
  color: white;
}

.profile-right__owner {
  display: flex;
  flex-direction: row;
}

.profile-right__image {
  height: 25px;
  width: 25px;
  border-radius: 50%;
  margin-left: 1.5em;
  margin-right: 0.5em;
}

.dashboard-container {
  background-color: #101010;
  margin-bottom: 2em;
  margin-top: 6em;
}

.dashboard-container__right {
  border-left: 2px solid #bababa;
}

.dashboard-container__left {
  margin-top: 5em;
}

.row {
  margin: 0;
}

.dashboard-form {
  position: relative;
  display: flex;
  height: 2.5em;
  justify-content: flex-end;
  margin-top: 2em;
}

.dashboard-input {
  position: absolute;
  border-radius: 5px;
  width: 100%;
  height: 2.5em;
  margin-left: 8px;
}

.search-icon {
  z-index: 1;
  margin-top: 10px;
}

.mobile-search-icon {
  display: flex;
  margin-left: auto;
  margin-top: -1.5em;
  margin-right: 0.5em;
}

.dashboard-navigation > ul {
  flex-direction: column;
  color: #909090;
}

.dashboard-navigation > h4 {
  margin-left: 3em;
  margin-top: 4em;
  color: white;
}

.col-content {
  padding: 0;
  padding-right: 10px;
  height: 20em;
  margin-top: 1em;
  background-color: #2f3441;
  color: #fff;
  border-radius: 5px;
  box-shadow: 3px 4px 1px black;
}

.mobile-search {
  float: right;
}

.mobile-input {
  border-radius: 5px;
  border: none;
  margin-top: 0.7em;
  height: 2em;
  width: 12em;
  padding: 5px;
}

@media (max-width: 864px) {
  .dashboard-container__right {
    border: 0;
  }
  .dashboard-menu__left {
    width: 100%;
  }
  .dashboard-menu__right {
    width: 100%;
    margin-top: -1px;
  }
  .dashboard-container__left {
    display: none;
  }
  .dashboard-menu__left > p {
    float: left;
  }
  .dashboard-container {
    margin-top: 5em;
  }
}

@media (min-width: 865px) {
  .mobile-drawer,
  .menu-icon {
    display: none;
  }
  .mobile-search {
    display: none;
  }
}

@media (max-width: 344px) {
  .mobile-input {
    width: 10em;
  }
}

#drawer-toggle {
  position: absolute;
  opacity: 0;
}

#drawer-toggle-label {
  position: absolute;
  background: rgba(255, 255, 255, 0);
  z-index: 1;
}

#drawer-toggle-label:before {
  content: "";
  display: block;
  position: absolute;
  height: 2px;
  width: 24px;
  background: #fff;
  left: 13px;
  top: 18px;
  box-shadow: 0 6px 0 #fff, 0 12px 0 #fff;
}

#drawer {
  position: fixed;
  z-index: 1;
  top: 110px;
  left: -300px;
  height: 100%;
  width: 300px;
  background: #212531;
}

.drawer-menu {
  display: flex;
  flex-direction: column;
}

#drawer-toggle:checked ~ #drawer-toggle-label {
  height: 100%;
  width: calc(100% - 300px);
}

#drawer-toggle:checked ~ #drawer {
  left: 0px;
}

#drawer ul {
  list-style-type: none;
}

#drawer ul a {
  display: block;
  padding: 10px;
  text-decoration: none;
}

#drawer ul a:hover {
  color: white;
}

@media (max-width: 437px) {
  #drawer {
    width: 225px;
  }
}
