header {
  display: none;
}
.header__top {
  display: none;
}

.dashboard-menu {
  position: fixed;
  width: 100%;
  z-index: 2;
  top: 0;
}
.dashboard-menu__left {
  background-color: #212531;
  height: 4em;
}

.dashboard-menu__left > p {
  color: white;
  font-size: 1.2em;
  display: flex;
  justify-content: center;
  padding-top: 10px;
}

.dashboard-menu__right {
  display: flex;
  flex-direction: row;
  background-color:  #24243e;
  height: 4em;
  color: white;
  padding-top: 15px;
}

.menu-icon {
  margin-top: -1em;
  margin-left: -1em;
}

.right-b {
  display: flex;
  margin-left: auto;
}

.right-b__icon {
  margin-left: 1.5em;
  
}

/*.fa-cogs {
  margin-right: .5em;
}*/

.fa-bars {
  margin-left: .5em;
  color: white;
}

.right-b__owner {
  display: flex;
  flex-direction: row;
}

.owner__image {
  height: 25px;
  width: 25px;
  border-radius: 50%;
  margin-left: 1.5em;
  margin-right: .5em;
}

.dashboard-body {
  background-color: #2f3441;
  margin-bottom: 2em;
  margin-top: 6em;
}
.dashboard-body__left {
  margin-top: 5em;
}
.row {
  margin: 0;
}

.dashboard-form {
  position: relative;
  display: flex;
  height: 2.5em;
  justify-content: flex-end;
  margin-top: 2em;
}

.dashboard-input {
  position: absolute;
  border-radius: 5px;
  width: 100%;
  height: 2.5em;
  margin-left: 8px;
}

.search-icon {
  z-index: 1;
  margin-top: 10px;
}
.mobile-search-icon {
  display: flex;
  margin-left: auto;
  margin-top: -1.5em;
  margin-right: 0.5em;
}

.dashboard-navigation > ul {
  flex-direction: column;
  color: #909090;
}

.dashboard-navigation > h4 {
  margin-left: 3em;
  margin-top: 4em;
  color: white;
}

.col1 {
  padding: 0;
  padding-right: 10px;
    height: 20em;
    margin-top: 1em;
}
.col1 > h1 {
  height: 100%;
    width: 100%;
    background-color: white;
    margin: 0;
    border-radius: 5px;
}
.col2 {
  padding: 0;
  padding-right: 10px;
    height: 28em;
    margin-top: 1em;
}
.col2 > h1 {
  height: 100%;
    width: 100%;
    background-color: white;
    margin: 0;
    border-radius: 5px;
}
.a1 {
  padding: 0;
  padding-right: 10px;
    height: 12em;
}
.a1 > h1 {
  height: 100%;
    width: 100%;
    background-color: white;
    margin: 0;
    border-radius: 5px;
}
.a2 {
  padding: 0;
  padding-right: 10px;
    height: 12em;
}
.a2 > h1 {
  height: 100%;
    width: 100%;
    background-color: white;
    margin: 0;
    border-radius: 5px;
}
.a {
  margin-top: 1em;
}
.b1 {
   padding: 0;
  padding-right: 10px;
    height: 20em;
}
.b2 {
  padding: 0;
  padding-right: 10px;
    height: 20em;
}
.b1 > h1 {
  height: 100%;
    width: 100%;
    background-color: white;
    margin: 0;
    border-radius: 5px;
}
.b2 > h1 {
  height: 100%;
    width: 100%;
    background-color: white;
    margin: 0;
    border-radius: 5px;
}

.b {
  margin-top: 1em;
}
.col3 {
  padding: 0;
  padding-right: 10px;
    height: 20em;
    margin-top: 1em;
}
.col3 > h1 {
  height: 100%;
    width: 100%;
    background-color: white;
    margin: 0;
    border-radius: 5px;
}
.col4 {
  padding: 0;
  padding-right: 10px;
    height: 20em;
    margin-top: 1em;
}
.col4 > h1 {
  height: 100%;
    width: 100%;
    background-color: white;
    margin: 0;
    border-radius: 5px;
}
.col5 {
  padding: 0;
  padding-right: 10px;
    height: 10em;
    margin-top: 1em;
}
.col5 > h1 {
  height: 100%;
    width: 100%;
    background-color: white;
    margin: 0;
    border-radius: 5px;
}
.c1 {
  padding: 0;
  padding-right: 10px;
    height: 30em;
}
.c2 {
 
  padding: 0;
  padding-right: 10px;
    height: 30em;
}
.c1 > h1 {
  height: 100%;
    width: 100%;
    background-color: white;
    margin: 0;
    border-radius: 5px;
}
.c2 > h1 {
  height: 100%;
    width: 100%;
    background-color: white;
    margin: 0;
    border-radius: 5px;
}
.c {
  margin-top: 1em;
}

.mobile-search {
  float: right;
}

.mobile-input {
  border-radius: 5px;
    border: none;
    margin-top: 0.7em;
    height: 2em;
    width: 12em;
    padding: 5px;
}

@media (max-width: 864px) {
  .dashboard-menu__left {
    width: 100%;
  }
  .dashboard-menu__right {
    width: 100%;
    margin-top: -1px;
  }
  .dashboard-body__left {
    display: none;
  }
  .dashboard-menu__left > p {
    float: left
  }
  .dashboard-body {
    margin-top: 5em;
  }
}

@media (min-width: 865px) {
  .mobile-drawer, .menu-icon {
    display: none;
  }
  .mobile-search {
    display: none;
  }
}
@media (max-width: 344px) {
  .mobile-input {
    width: 10em;
  }
}
#drawer-toggle { 
  position: absolute; 
  opacity: 0; 
}

#drawer-toggle-label {
  position: absolute; 
  background: rgba(255,255,255,.0); 
  z-index: 1; 
} 

#drawer-toggle-label:before { 
  content: ''; 
  display: block; 
  position: absolute; 
  height: 2px; 
  width: 24px; 
  background: #fff; 
  left: 13px; 
  top: 18px; 
  box-shadow: 0 6px 0 #fff, 0 12px 0 #fff; 
} 

#drawer { 
  position: fixed; 
  z-index: 1;
  top: 110px;
  left:-300px; 
  height: 100%; 
  width: 300px; 
  background: #212531;  
} 

.drawer-menu {
  display: flex;
  flex-direction: column;
}


#drawer-toggle:checked ~ #drawer-toggle-label { 
  height: 100%; 
  width: calc(100% - 300px); 
} 

#drawer-toggle:checked ~ #drawer { 
  left: 0px; 
} 

#drawer ul { 
  list-style-type:none; 
} 

#drawer ul a { 
  display:block; 
  padding:10px; 
  text-decoration:none; 
} 

#drawer ul a:hover { 
  color:white; 
} 
@media (max-width: 437px) {
  #drawer {
    width: 225px;
  }
}