.donate-container {
  margin: 0;
  /*background: linear-gradient(left, #212531 50%, #333333 50%, #333333 100%),*/
  background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),
    url(https://dg.imgix.net/who-does-god-praise-in-worship-47aniwb1-en/landscape/who-does-god-praise-in-worship-47aniwb1.jpg?ts=1496326776&ixlib=rails-2.1.4&w=700&h=394&dpr=2&ch=Width%2CDPR&auto=format%2Ccompress&fit=min)
      no-repeat 0px 0px;
  background-attachment: fixed;
  background-size: cover;
  height: 100%;
  padding: 4em 0;
}

.donate-container__form span {
  display: flex;
  flex: 1;
  flex-direction: column;
  width: 80%;
  margin: 0 auto;
  background: white;
  padding: 5%;
  margin-top: 10%;
  border-radius: 10px;
}

.donate-container__form span .donate-input {
  height: 40px;
  border-radius: 5px;
  border-style: ridge;
}

.donate-submit {
  width: 100px;
  margin-top: 20px;
  border: 2px solid #eb232a;
  height: 49px;
  border-radius: 5px;
  font-size: 16px;
}

.donate-container__form span label {
  margin-top: 20px;
}

.donate-container__form span label small {
  color: #eb232a;
}
.donate-container__form-reason {
  margin-top: 0;
}

.donation-thanks {
  margin-bottom: 4vh !important;
}

.donation-thanks img {
  width: 200px;
  margin: 0 auto;
}

.donation-thanks h2 {
  text-align: center;
  margin-top: 0;
  margin-bottom: 20px;
}
