.sa-text {
  color: white;
  margin-top: 5em;
  width: 100%;
}

.sa-text__title {
  padding: 20px;
  float: right;
  font-size: 1.1em;
}

.sb-text {
  position: absolute;
  bottom: -2em;
}

.sa-brand__name-logo {
  width: 40px;
  height: 40px;
  vertical-align: sub;
  display: inline-block;
}

.sa-form__login {
  width: 70%;
  margin-top: 30px;
}

.sa-form__login-input {
  border-radius: 3px;
}

.sa-actions p {
  display: inline-block;
}

.sa-actions__login {
  float: right;
}

.sa-actions__login,
.sa-actions__createAccount {
  cursor: pointer;
}

.sa-actions__createAccount {
  float: left;
}

.sa-header {
  margin: 60px 0 40px 0;
}

.mobile-home__login,
.mobile-home__signup {
  color: #ffd700;
}

.mobile-sa-text {
  text-align: center;
  margin-top: -3.5em;
}

.mobile-sa-text__title {
  display: block;
  padding-top: 6em;
}

.clients {
  background-color: #F8F8F8;
  margin-top: -1em;
  border-bottom: 1px solid #C0C0C0;
}

.clients-text {
  text-align: center;
  padding-top: 1em;
  padding-bottom: 1em;
  color: #C0C0C0;
}

.clients-section {
  display: flex;
  padding-bottom: 1em;
  overflow-x: auto;
  min-width: 100%;
}

.clients-section::-webkit-scrollbar {
  display: none;
}

.clients-section__logo {
  width: 8em;
  height: 7em;
  margin-left: 2em;
}

.section-four {
  margin-top: 6em !important;
  margin-left: 6em !important;
  margin-bottom: 3em !important;
  margin-right: 3em !important;
}

.section-five__text {
  margin-top: 6em !important;
  margin-left: 6em !important;
  margin-bottom: 6em !important;
}

.section-four__left > p {
  font-size: 17px;
}

.section-four__picture {
  height: 25em;
  width: 48em;
}

.section-five {
  border-top: 1px solid #C0C0C0;
}

.section-five__recentwork {
  display: flex;
  justify-content: flex-end;
  margin-right: 14em;
}

.section-five__work {
  display: flex;
}

.section-five__left, .section-five__right {
  display: flex;
}

.section-five__picture {
  width: auto;
  height: 20em;
}

@media (max-width: 991px) {
  .section-five__left, .section-five__right {
    flex-direction: column;
  }
  .section-five__picture {
    height: 24em;
  }
}

@media (max-width: 903px) {
  .sa-text__title {
    display: block;
    text-align: center;
    float: none;
  }
  .sa-form__login {
    margin: 0 auto;
  }
}

@media (max-width: 638px) {
  .background {
    margin-top: -2em;
  }
  .background__canvas {
    margin-top: 2em;
  }
  .banner {
    display: none;
  }
  .sb-text {
    bottom: -4em;
  }
  .clients {
    margin-top: 6em;
  }
}

@media (min-width: 639px) {
  .mobile-home__login,
  .mobile-home__signup {
    display: none;
  }
  .mobile-sa-text {
    display: none;
  }
}

@media (min-width: 904px) {
  .sa-text__title {
    width: 500px;
  }
}

@media (max-width: 767px) {
  .section-four {
    margin-left: 2em !important;
    margin-right: 2em !important;
  }
  .section-five__work {
    flex-direction: column;
  }
  .section-five__picture {
    height: 37em;
  }
  .section-five__text {
    margin-left: 0em !important;
  }
  .section-five__recentwork {
    justify-content: flex-start;
    padding-top: 1em;
  }
}

@media (max-width: 631px) {
  .section-five__picture {
    height: 30em;
  }
}

@media (max-width: 536px) {
  .section-five__picture {
    height: 27em;
  }
}

@media (max-width: 454px) {
  .section-five__picture {
    height: 25em;
  }
}

@media (max-width: 374px) {
  .section-five__picture {
    height: 20em;
  }
}