.sa-text {
  color: white;
  margin-top: 5em;
  width: 100%;
}

.sa-text__title {
  padding: 20px;
  float: right;
  font-size: 1.1em;
}

.sb-text {
  position: absolute;
  bottom: -2em;
}

.sa-brand__name-logo {
  width: 40px;
  height: 40px;
  vertical-align: sub;
  display: inline-block;
}

.sa-form__login {
  width: 70%;
  margin-top: 30px;
}

.sa-form__login-input {
  border-radius: 3px;
}

.sa-actions p {
  display: inline-block;
}

.sa-actions__login {
  float: right;
}

.sa-actions__login,
.sa-actions__createAccount {
  cursor: pointer;
}

.sa-actions__createAccount {
  float: left;
}

.sa-header {
  margin: 40px;
}

.login,
.signup {
  color: #ffd700;
}

.mobile-sa-text {
  text-align: center;
  margin-top: -3.5em;
}

.mobile-sa-text__title {
  display: block;
  padding-top: 6em;
}

@media (max-width: 903px) {
  .sa-text__title {
    display: block;
    text-align: center;
    float: none;
  }
  .sa-form__login {
    margin: 0 auto;
  }
}

@media (max-width: 555px) {
  .background {
    margin-top: -2em;
  }
  .background__canvas {
    margin-top: 2em;
  }
  .banner {
    display: none;
  }
  .sb-text {
    bottom: -4em;
  }
}

@media (min-width: 556px) {
  .login,
  .signup {
    display: none;
  }
  .mobile-sa-text {
    display: none;
  }
}

@media (min-width: 904px) {
  .sa-text__title {
    width: 500px;
  }
}
