.payment-background {
  position: absolute;
  top:0;
  bottom:0;
  right:0;
  left:0;
  background-color: rgba(0,0,0,.7);
  display: flex;
  justify-content: center;
  align-items: center;
}

.payment-form {
  background-color: rgba(255,255,255,1);
  margin-top: 3em;
  width: 30em;
  margin-left: auto;
  margin-right: auto;
  padding: 0em 2em 2em 2em;
  border-radius: 5px;
}

.modal-body {
  padding: 0;
}

.modal-button__close{
  width: 10em;
  display: flex;
  margin-left: auto;
  text-align: center;
  color: #fff;
  background-color: red;
  justify-content: center;
}

.btn-success {
  margin-top: 3em;
}

.payment-form-control {
  border: 1px solid grey;
}

.payment-form-input {
  margin-top: 2em;
}

.payment-cvv-pin {
  display: flex;
}

.cvv-pin {
  width: 100%;
}

.payment-form-input__pin {
  margin-left: 11em;
}

.payment-expiry-date {
  display: flex;
  justify-content: space-between;
}

.payment-expiry-date__month, .payment-expiry-date__year {
  width: 31%;
}

@media (max-width: 555px) {
  .payment-form {
    width: 23em;
  }
  .payment-form-input__pin {
    margin-left: 5em;
  }
}

@media (max-width: 366px) {
  .payment-form {
    width: 20em;
  }
}