.search-container {
  background: hsl(0, 0%, 7%);
  width: 100%;
}

.col-contestant-result {
  margin-top: 1em;
  color: #fff;
  box-shadow: 3px 4px 1px black;
}

.col-contestant-result-name,
.col-contestant-result-location,
.col-contestant-result-code {
  font-size: 15px;
  line-height: 12px;
  margin-top: 20px;
}

/*SOCIAL SHARING ICONS*/
.share-channel {
  justify-content: space-between;
  display: flex;
  padding: 7px 0;
}
.share-channel-social {
  display: inline-flex;
  text-align: right;
}

.share-channel-vote {
  font-size: 1.2em;
  padding-top: 7px;
  padding-left: 7px;
  cursor: pointer;
}

.share-channel-vote:hover {
  color: #ff0000;
}

.vote-social-icons {
  margin: 0 7px;
  cursor: pointer;
}

.vote-social-icons-fb:hover {
  color: #3b5998;
}
.vote-social-icons-tw:hover {
  color: #1da1f2;
}
.vote-social-icons-ig:hover {
  color: #5851db;
}

/*END SOCIAL SHARING ICONS*/

.view-all-search {
  text-align: center;
  margin-top: 25px;
  color: #c1c1d4;
}

/*VOTING STYLE*/
.voter-container {
  margin-top: 3%;
}

.voter-section__title b {
  color: #ffffff;
  max-height: 2rem;
  overflow: hidden;
  font-size: 1.6rem;
  font-weight: 500;
  line-height: 2rem;
}

.voter-section__title span {
  color: hsl(0, 0%, 53.3%);
  margin-left: 8px;
  max-height: 1.8rem;
  overflow: hidden;
  font-size: 1.3rem;
  font-weight: 400;
  line-height: 1.8rem;
  text-transform: none;
}
/*END VOTING STYLE*/

.grid-suspenders {
  border: 0.5px solid hsl(0, 0%, 53.3%);
  margin: 20px;
}
