.search-container {
  background: hsl(0, 0%, 7%);
  width: 100%;
  padding-bottom: 1em;
  padding-top: 9em;
}

/*#search-input-form {
  display: flex;
  position: absolute;
  z-index: 11;
}

.contestant-search__input {
  display: flex;
  justify-content: center;
  margin-top: -7em;
  margin-left: -17em;
}

#contestant-searchinput {
  height: 2em;
  width: 20em;
  padding-top: 1em;
  padding-bottom: 1em;
  background-color: #000;
  color: #fff;
}*/

.search-icon {
  height: 2em;
}

.col-contestant-result {
  margin-top: 1em;
  margin-bottom: 2em;
  color: #fff;
  box-shadow: 3px 4px 1px black;
}

.col-contestant-result-name,
.col-contestant-result-location,
.col-contestant-result-code {
  font-size: 14px;
  line-height: 12px;
  margin-top: 20px;
}

.col-contestant-result__right {
  float: right;
  padding-right: 5px;
}

/*SOCIAL SHARING ICONS*/
.share-channel {
  justify-content: space-between;
  display: flex;
  padding: 7px 0;
  margin-top: 2em;
}
.share-channel-social {
  display: inline-flex;
  text-align: right;
}

.share-channel-vote {
  font-size: 1em;
  padding-top: 0px;
  padding-left: 7px;
  cursor: pointer;
}

.share-channel-vote:hover {
  color: #ff0000;
}

.vote-social-icons {
  margin: 0 7px;
  cursor: pointer;
  font-size: 1em !important;
}

.vote-social-icons-fb:hover {
  color: #3b5998;
}
.vote-social-icons-tw:hover {
  color: #1da1f2;
}
.vote-social-icons-ig:hover {
  color: #5851db;
}

/*END SOCIAL SHARING ICONS*/

.view-all-search {
  text-align: center;
  margin-top: 25px;
  color: #c1c1d4;
}

/*VOTING STYLE*/
/*.contestant-section__title {
  margin-top: -12%;
  margin-bottom: 2%;
}*/

.contestant-section__title b {
  color: #ffffff;
  max-height: 2rem;
  overflow: hidden;
  font-size: 1.6rem;
  font-weight: 500;
  line-height: 2rem;
  margin-left: 1em
}

/*END VOTING STYLE*/

.grid-suspenders {
  border: 0.5px solid hsl(0, 0%, 53.3%);
  margin: 20px;
}

@media (max-width: 767px) {
  /*.contestant-section__title {
    margin-top: -8%;
    margin-bottom: 7%;
  }*/
  /*.contestant-search__input {
    margin-left: 0em;
  }*/
}

@media (max-width: 394px) {
  /*#contestant-searchinput {
    width: 76%;
  }*/
}