header {
  display: none;
}

.main-container {
  background-color: #2f3441;
  height: 100%;
  margin-top: -1.3em;
}

.signup-body {
  padding-top: 9em;
}

.signup-body__logo {
  position: absolute;
  color: white;
  margin-left: 2em;
  margin-top: -8em;
}

.signup-background{
  background-color: white;
  padding-top: 3em;
  padding-bottom: 3em;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  flex-direction: column;
  max-width: 31em;
  border-radius: 5px;
 }

.signup-header {
  text-align: center;
  margin-bottom: 30px;
}

.signup-header > p {
  font-size: 2rem;
  color: #2f3441;
}

.signup-form {
  width: 29em;
  margin-left: auto;
  margin-right: auto;
}

.signup-form__input {
  border: 1px solid rgba(0,0,0,.2);
  padding: 6.5px;
  background-color: rgba(255,255,255,1);
  margin: auto;
  display: flex;
  align-items: center;
  margin-bottom: 20px;
  border-radius: 5px;
}

.signup-submit {
  background-color: #2f3441;
  color: white;
  margin-top: 2em;
}

.form-control {
  background-color: transparent;
  border: none;
}

.form-control:focus {
  outline: none;
  border: none;
  box-shadow: none;
}

.signup-icon {
  left: 20.5em;
  color: #2f3441;
}

.btn {
  width: 100%;
  padding: 12px;
}

/*input:invalid {
  border-color: red;
}*/

.signup-checkbox {
  display: flex;
}

.checkbox-voter {
  margin-left: 2em;
}

.checkbox-contestant, .checkbox-voter {
  display: flex;
}

.checkbox-contestant__text, .checkbox-voter__text {
  margin-left: 5px;
}

.signup-footer {
  text-align: center;
  margin-top: 2em; 
}

.signup-signin {
  color: #2f3441;
  cursor: pointer;
}

.signup-signin:hover {
  text-decoration: underline;
}

@media (max-width: 555px) {
  .signup-background {
    width: 95%;
  }
  .signup-form {
    width: 95%;
  }
}