.banner {
  background: url("/images/microphone-transparent-background-8.png");

  background: url("/images/microphone-transparent-background-8.png"),
    linear-gradient(to right bottom, #2f3441 50%, #212531 50%);
  height: 100vh;
  overflow: hidden;

  background-position: 10% top;
  background-repeat: no-repeat;
  background-size: contain;
  padding: 3rem;
}
