.profile--container {
  display: flex;
  flex-direction: column;
  justify-content: stretch;
}
.profile--header {
  height: 250px;
  background-size: 100% auto;
  background-position: center;
  position: relative;
}
.no-padding {
  margin: 0 -15px;
}
.share--cont {
  display: flex;
  align-items: center;
}
.sharebuttons {
  margin-top: -5px;
  margin-right: 5px;
}
.profile--body {
  flex: 1;
  padding: 30px;
  background-color: #f2f2f6;
}
.ads--one {
  height: 100px;
  background-color: #fa9300;
  background: #232526; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #414345,
    #232526
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #414345,
    #232526
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}
.video--sq {
  width: 100%;
  background-color: white;
  padding-top: 50%;
  box-shadow: 1px 1px 30px 5px rgba(0, 0, 0, 0.1);
  position: relative;
}
.contestant--profile {
  background-color: white;
  /* height: 300px; */
  top: -150px;
  position: relative;
  padding-top: 250%;
  box-shadow: 1px 1px 30px 5px rgba(0, 0, 0, 0.1);
}
.common-margin {
  margin-bottom: 20px;
  margin-top: 20px;
}
.bio--aspect--ratio {
  height: 50%;
  width: 100%;
}
.contestant--cont {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.contestant--image {
  background-size: auto 100%;
  background-position: center;
  background-repeat: no-repeat;
  position: relative;
}
.contestant--nav {
  padding: 0 30px;
  justify-content: space-between;
  align-items: center;
  display: flex;
}
.nav-block {
  width: calc(100% / 12);
}
.nav--logo {
  font-size: 30px;
  color: white;
}
.nav-child {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: calc(100% / 12 * 10);
  padding: 0 15px;
  height: 100px;
}
.search-profile-input-cont {
  width: 200px;
  height: 30px;
  border-radius: 20px;
  padding-left: 25px;
  border: 2px solid rgba(255, 255, 255, 0.5);
  position: relative;
  color: white;
  font-size: 15px;
  margin: 0 auto;
}
.search-profile-input {
  background-color: transparent;
  border: none;
  outline: none;
  height: 100%;
  width: 100%;
  z-index: 30;
  position: relative;
}
.myplaceholdder {
  z-index: 0;
  font-style: italic;
  position: absolute;
  top: 2px;
}
.search--icon {
  position: absolute;
  top: 5px;
  left: 5px;
  color: white;
}
.profile-menu-icon {
  color: white;
  font-size: 20px;
}
.nav--discription {
  padding: 0 30px;
  display: flex;
  justify-content: space-between;
}
.profile--detail {
  width: calc(100% / 3 * 2);
  padding-right: 30px;
  margin-left: -20px;
  display: flex;
  color: white;
  justify-content: space-between;
  align-items: center;
}
.bigger--block {
  width: calc(100% / 3);
}
.share-btn {
  border: 1px solid white;
  border-radius: 30px;
  padding: 4px 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
}
.share--icon {
  font-size: 20px;
  margin-right: 10px;
}
.image--overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  display: flex;
}
.Vote--button {
  color: black;
  font-size: 18px;
  background-color: white;
  padding: 3px 70px;
  border-radius: 30px;
  cursor: pointer;
}
.Vote--button:hover {
  background-color: rgba(255, 255, 255, 0.7);
}
.share-btn:hover,
.more--button:hover {
  background-color: rgba(255, 255, 255, 0.2);
}
.bio-buttons {
  color: white;
  align-self: flex-end;
  display: flex;
  justify-content: space-around;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: 10px 0;
}
.more--button {
  padding: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid white;
  border-radius: 50%;
  margin: 20px;
  cursor: pointer;
}
.contestant--bio {
  padding: 20px;
}
.mydetail--header {
  display: block;
  font-size: 16px;
  font-weight: bolder;
  margin-bottom: 10px;
}
.mydetail {
  color: rgba(0, 0, 0, 0.5);
}
.video--cont {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
}
.shape--triangle {
  position: absolute;
  bottom: -50px;
  left: 6%;
  z-index: 0;
}
.shape--circle {
  position: absolute;
  top: 90px;
  left: 30%;
  z-index: 0;
}
.to-hide {
  display: none;
}
.no-padding-left {
  margin-left: -15px;
}
.no-padding-right {
  margin-right: -15px;
}
.share-label {
  font-size: 12px;
}
.name--overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 0;
  align-items: center;
  display: flex;
  justify-content: center;
  font-size: 120px;
  color: white;
}
.pa--vote {
  position: relative;
}
.child--vote {
  position: absolute;
  top: -150%;
  color: black;
  display: flex;
  left: 0;
  right: 0;
  justify-content: space-between;
  /* border-radius: 16px; */
  align-items: center;
}
.quantity--input {
  width: 135px;
  border-radius: 14px;
  background-color: rgba(255, 255, 255, 0.5);
  border: none;
  outline: none;
  margin: 0;
  padding: 4px 9px;
}
.click--vote {
  background-color: white;
  padding: 5px 25px;
  border-radius: 15px;
  font-size: 12px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0;
  cursor: pointer;
}
.click--vote:hover {
  background-color: rgba(255, 255, 255, 0.7);
}
@media (max-width: 1298px) {
  .Vote--button {
    font-size: 15px;
    padding: 9px 60px;
  }
  .quantity--input {
    width: 100px;
    padding: 3px 9px;
  }
  .child--vote {
    right: 0;
    top: -49px;
  }
}
.hide--this {
  display: none;
}

@media (max-width: 1200px) {
  .more--button {
    margin: 5px;
  }
  .contestant--profile {
    padding-top: 300%;
  }
  .mydetail {
    font-size: 10px;
  }
  .child--vote {
    right: 0;
  }
  .quantity--input {
    width: 100px;
  }
}
@media (max-width: 918px) {
  .quantity--input {
    width: 80px;
    padding: 1px 9px;
  }
  .bio-buttons {
    padding: 5px 0;
  }
  .click--vote {
    font-size: 10px;
    padding: 4px 12px;
  }
  .child--vote {
    right: 0;
    top: -130%;
  }
  .Vote--button {
    font-size: 12px;
    padding: 9px 40px;
    display: block;
  }
  .share-label {
    font-size: 10px;
  }
  .share--icon {
    font-size: 18px;
  }
  .more--button {
    padding: 5px;
  }
  .search-profile-input-cont {
    font-size: 11px;
    width: 120px;
  }
  .search--icon {
    top: 7px;
  }
  .myplaceholdder {
    top: 4px;
  }
  .mydetail--header {
    margin-bottom: 5px;
  }
  .contestant--bio {
    padding: 10px;
  }
  .mydetail {
    font-size: 7px;
  }
  .profile--name {
    font-size: 22px;
  }
  .profile-city {
    font-size: 8px;
  }
}
@media (max-width: 822px) {
  .mydetail--header {
    margin-bottom: 0;
    font-size: 10px;
  }
  .name--overlay {
    font-size: 110px;
  }
}

@media (max-width: 767px) {
  .sharebuttons {
    margin-top: -5px;
    position: absolute;
    top: -100%;
  }
  .shape--circle,
  .shape--triangle {
    display: none;
  }
  .no-padding-left,
  .no-padding-right {
    margin-left: -15px;
    margin-right: -15px;
  }
  .to-hide {
    display: unset;
    width: 50%;
  }
  .share--cont {
    flex-direction: column;
    position: relative;
  }
  .contestant--profile {
    padding-top: 140%;
  }
  .mydetail--header {
    font-size: 16px;
    margin-bottom: 10px;
  }
  .mydetail {
    font-size: 15px;
  }
  .contestant--bio {
    padding: 20px;
  }
  .contestant--profile {
    top: 0;
  }
  .profile--body {
    padding: 10px;
  }
  .bigger--block {
    display: none;
  }
  .profile--detail {
    padding: 0;
    margin-left: 0;
    width: 100%;
  }
  .nav-block {
    display: none;
  }
  .nav--discription {
    padding: 0;
    width: auto;
  }
  .profile--name {
    font-size: 18px;
    margin: 0;
  }
  .profile--header {
    display: none;
  }
  .bio-buttons {
    justify-content: space-between;
    margin: 0 5px;
  }
  .share-btn {
    margin: 10px;
    padding: 7px 20px;
  }
  .profile-city {
    margin-bottom: 0;
  }
  .pa--vote {
    display: flex;
    width: 50%;
    justify-content: space-around;
  }
  .child--vote {
    position: unset;
    width: 50%;
    display: flex;
    justify-content: space-around;
  }
  .click--vote {
    padding: 7px 30px;
  }
}
@media (max-width: 647px) {
  .Vote--button {
    padding: 4px 25px;
  }
  .quantity--input {
    width: 50%;
  }
  .click--vote {
    width: 40%;
  }
}
@media (max-width: 555px) {
  .click--vote {
    font-size: 10px;
    width: 40%;
    padding: 4px 25px;
  }
  .child--vote {
    width: 60%;
    justify-content: space-around;
  }
  .nav-child {
    display: none;
  }
  .profile--body {
    padding: 0;
  }
  .share-btn {
    padding: 2px 5px;
    margin: 5px;
  }
  .share-label {
    font-size: 6px;
    min-width: 40px;
  }
  .share--icon {
    font-size: 13px;
    margin: 0;
  }
  .profile--name {
    font-size: 12px;
    min-width: 50%;
  }
  .profile-city {
    font-size: 8px;
  }
  .Vote--button {
    font-size: 9px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40%;
    padding: 4px;
    overflow: hidden;
    text-overflow: ellipsis;
  }
  .more--button {
    padding: 4px;
  }
  .ads--one {
    height: 50px;
  }
  .contestant--profile {
    margin-bottom: 10px;
  }
  .mydetail {
    font-size: 7px;
  }
}

@media (max-width: 350px) {
  .Vote--button {
    width: 35%;
  }
  .click--vote {
    margin-left: 2px;
  }
}
