.sa-header__xs_landing {
  padding-top: 3em;
}

.slider-menu {
  margin-top: -4.5em;
}

.slider-menu__title {
  text-align: center;
  padding-bottom: 1em;
}

.slick-list {
  background-color: #000;
  width: 100%;
  line-height: 8px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  color: #fff;
}

.slick-prev {
  left: 17px;
  background: #000;
  display: none !important;
}

.slick-next {
  right: 17px;
  background: #000;
  display: none !important;
}

.slick-track {
  display: flex;
  justify-content: center;
  align-items: center;
}

.slick-dots {
  bottom: 15px !important;
}

.slick-dots li button {
  background: lightgray;
}

.sa-text__promo {
  display: flex;
  justify-content: flex-end;
  flex-direction: column;
  margin-top: 16em;
}

.sa-text__promo h2 {
  font-size: 50px;
  font-weight: bold;
}

@media (max-width: 767px) {
  .slick-next,
  .slick-prev {
    display: none !important;
  }
  .slider-menu {
    margin-top: -4.5em;
  }
  .sa-text__promo {
    margin-top: 5em;
  }
}
